.idt-tpl-blog {
    @media (max-width: 991px) {
        margin-top: 5.25rem;
    }
    .idt-main--background {
        position: relative;
        &:before {
            content: '';
            width: 100%;
            height: calc(100% - 7rem);
            position: absolute;
            left: 0;
            bottom: 0;
            background: transparent linear-gradient(180deg, #72217B 0%, #004691 100%);
            z-index: -1;
        }
    }
}