.idt-tpl-404 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 6.93rem;
    padding-bottom: 3.56rem;

    @media only screen and (max-width: 991px) {
        padding-top: 5rem;
        padding-bottom: 3.18rem;
        background: none;
    }

    h1,
    p {
        text-align: left;
        max-width: 20.56rem;
    }


    &__title {
        font-size: 4.25rem;
        line-height: 5.25rem;
        color: var(--idt-text-color-4);
        margin-bottom: 1rem;
        padding-bottom: 0;

        @media only screen and (max-width: 991px) {
            margin-right: auto;
        }
    }

    &__subtitle {
        font-size: 3.12rem;
        line-height: 3.87rem;
        color: var(--idt-text-color-4);
        font-weight: bold;
    }

    &__description {
        font-size: 2.12rem;
        line-height: 2.62rem;
        color: var(--idt-text-color-4);
        font-weight: bold;
        margin-bottom: 2rem;
    }

    &__text {
        color: var(--idt-text-color-6);
    }

    &__cta {
        margin-top: 3rem;

        a {
            text-decoration: none;
            padding: 1rem 3rem;
            color: var(--idt-text-color-1);
            background-color: var(--idt-bg-color-11);
            border-radius: 10px;
            transition: 200ms all ease-in-out;

            &:hover {
                background-color: var(--idt-bg-color-12);
            }

            @media only screen and (max-width: 991px) {
                margin-right: 0;
                margin-left: 0;
                margin-top: 1.43rem;
            }
        }
    }

    &__figure {
        @media only screen and (max-width: 991px) {
            margin-bottom: 0;
            margin-top: 2.07rem;
        }
    }
}